/*
QSCconference.com

Author: Alex McKinnon - https://mckinnon.io

License: https://qsconference.com/license.html

*/

/* -------- General -------- */

/* -------- Particles.js -------- */

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  /*background-color: #b61924;*/
  /*background-image: url('../img/spacebg.jpg');*/
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


/* -------- Landing -------- */

/*
Must Adds:
Web particles

Headers h1
paragraph

get started button
get started button hover
*/

#landing {
	width: 100%;
	height: 100vh;
	background: url(../img/spacebg.jpg) top center;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

@media (min-width: 1024px) {
	#landing {
		background-attachment:fixed;
	}
}

#landing:before {
  content: "";
  background: rgba(3, 6, 17, 0.2);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#landing .landing-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#landing .landing-items {
}

#landing .landing-items img {
  width: 30%;
}

#landing h1 {
	z-index: 1;
	color: #fff;
	font-size: 35px;
  text-align: center;
  font-family: 'Megrim', cursive;
}

/* -------- About -------- */

#about {
  background: url("../img/iss038e015406~orig.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding: 30px 0 20px 0;
}

#about h1 {
  z-index: 1;
  color: #fff;
  font-size: 35px;
  font-family: 'Oxygen', sans-serif;
}

/* -------- Footer -------- */

#footer {
	background: #101522;
	padding: 0 0 25px 0;
	color: #eee;
	font-size: 14px;
}

#footer .archive {
	text-align: center;
	padding-top: 30px;
}

#footer .copyright {
  	text-align: center;
}

#footer .credits {
  	text-align: center;
  	font-size: 13px;
  	color: #ddd;
}
