/*
QSCconference.com

Author: Alex McKinnon - https://mckinnon.io

License: https://qsconference.com/license.html

*/
/*https://coolors.co/ba1200-9dd1f1-508aa8-26081c-c8e0f4*/
/* -------- General -------- */

/* -------- Particles.js -------- */

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  /*background-color: #b61924;*/
  /*background-image: url('../img/spacebg.jpg');*/
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* -------- Header - Menu -------- */

#header {
  padding: 30px 0 ;
  height: 80px;
  position: fixed;

}

/* -------- Landing -------- */

/*
Must Adds:
Web particles

Headers h1
paragraph

get started button
get started button hover
*/

#landing {
	width: 100%;
	height: 100vh;
	background: url(../img/spacebg.jpg) top center;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

@media (min-width: 1024px) {
	#landing {
		background-attachment:fixed;
	}
}

#landing:before {
  content: "";
  background: rgba(3, 6, 17, 0.2);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#landing .landing-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#landing p .social {
  text-align: center;
  margin-top: 20px;
}

#landing p .social a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  vertical-align: bottom;
}

#landing .landing-items {

  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#landing .arrow {
  color: rgba(255, 255, 255, 0.8);
  width: 50%;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#landing btn-get-started {
  font-family: "Oxygen", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#landing .landing-items img {
  width: 30%;
  display: block; 
  margin: 0 auto;


}

@media (max-width: 768px) {
  #landing .landing-items img {
    width: 50%;
  }
}

#landing h1 {
	z-index: 1;
	color: #fff;
	font-size: 65px;
  text-align: center;
  font-family: 'Megrim', cursive;
  padding: 10px 10px 10px 10px
}

@media (max-width: 575px) {
  #landing h1 {
    font-size: 50px;
  }
}

/* need to do more countdown importing from the old site */

#landing .countdown {
  position: relative;
  bottom : 0px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
}

#landing .countdown-iframe {

}

@media (max-width: 575px) {
  #landing .countdown-iframe {
    display:none;
  }
}

#landing .countdown-iframe-small {

}

#landing .dates {
  font-family: 'quicksand', sans-serif;
  font-weight: 300;
  position: absolute;
  color: white;
  bottom: 45px;
  left:0;
  right:0;
  margin: 0 auto;
  margin-bottom: 45px;
}

#landing .dates h2 {
  font-size: 40px;
}
#landing .dates h3 {
  font-size: 25;
}
@media (max-width:575px) {
  #landing .dates h2 {
    font-size:30px;
  }

  #landing .dates h3 {
    font-size: 25px;
  }
}


/* -------- About -------- */

#about {
  background: url("../img/iss038e015406~orig.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 30px 0 20px 0;
}

#about:before {
  content: "";
  background: rgba(1,1,1,0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

#about .title {
  text-align: center;
  color: #fff;
}

#about h1 {
  z-index: 1;
  color: #fff;
  font-size: 35px;
  font-family: 'Oxygen', sans-serif;
}

#about h2 {
  z-index: 1;
  color: #fff;
  font-size: 30px;
  font-family: 'Oxygen', sans-serif;
}

/* -------- Sponsors -------- */

#sponsors {
  background-color: #101522;
  padding: 40px 0 40px 0;
}

#sponsors .title {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #fff;
}
#sponsors .images-inter {
  padding: 40px 50px 40px 50px;
  text-align: center;
}

#sponsors .images-extrat {
  padding: 30px 30px 30px 30px;
  text-align: center;
}

#sponsors .images-planet {
  padding: 20px 30px 20px 30px;
  text-align: center;
}

/* -------- Map -------- */

#maps {
  height: 350px;
}

/* -------- Tickets -------- */

#tickets {
  background: url("../img/gameBG.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding: 60px 0;
  background-color: rgb(38,8,28);
  text-align: center;
}

#tickets:before {
  content: "";
  background: rgba(1,1,1,0.1);
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

#tickets h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color: #fff;
}

#tickets .card {
  background-color: #101522;
  border: none;
  border: 6px;
  box-shadow: 0 10px 35px 0 #000;
  /*height: 400px;*/
  text-align: left;
  margin: 25px 25px 25px 25px;
}

#tickets .card hr {
  margin: 25px 0;
  color: #fff;
  height: 1px;
  background-color: #fff;
  border: none;
}

#tickets .ticket-title {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #fff;
}

#tickets .ticket-price {
  font-size: 48px;
  color: #fff;
}

#tickets .tickets-features {
  color: #fff;
  text-align: left;

}

#tickets .tickets-buy {
  margin: 50px 0 0 0;
}

/* -------- Where and when -------- */

#wfive {
  background: #000;
}

#wfive .map {
  height: 350px;
}

#wfive .text {
  color: #fff;
  margin: 20px 0;
}

/* -------- Footer -------- */

#footer {
	background: #101522;
	padding: 0 0 25px 0;
	color: #eee;
	font-size: 14px;
}

#footer .archive {
	text-align: center;
	padding-top: 30px;
}

#footer .copyright {
  	text-align: center;
}

#footer .credits {
  	text-align: center;
  	font-size: 13px;
  	color: #ddd;
}
